<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.manga_project">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manga_Project"
        tools:targetApi="31">
        <!-- Actividades de registro -->
        <activity
            android:name="com.example.manga_project.activities.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.manga_project.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manga_project.activities.SelectRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_select_register" />
        <activity
            android:name="com.example.manga_project.activities.RegisterDataActivity"
            android:exported="false" />
        <!-- Actividades principales -->
        <activity
            android:name="com.example.manga_project.activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.example.manga_project.activities.MainAdminActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.example.manga_project.activities.MainProveedorActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.example.manga_project.activities.DescriptionBookActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manga_project.activities.CartActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manga_project.activities.GroupActivity"
            android:exported="false" />
        <!-- Declarar la actividad PreviewActivity -->
        <activity
            android:name="com.example.manga_project.activities.PreviewActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.default_web_client_id"
            android:value="@string/default_web_client_id" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.key"
            android:value="AIzaSyAo1j-5SceeGtvHWIga2MNwRNJ4gmDSHSg" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>